---
import { getAllCategories, getAllPosts, getPostsByCategory } from "@/db/select";
import { MainLayout } from "@/layouts";
import { format } from "@/utils/date";
import { titleTemplate } from "@/utils/functions";
import { blog_url } from "@/utils/urls";

const { searchParams, port } = new URL(Astro.request.url);

const categories = await getAllCategories()
const allPosts = await (async () => {
	if (searchParams.get('category')) {
		const category = searchParams.get('category') as string;
		return (await getPostsByCategory(category))
	} else {
		return (await getAllPosts());
	}
})()

---
<MainLayout title={titleTemplate('Read The Blog Posts')}>
	<main class="w-full h-full">
		{/* 1. The Content Display */}
		<section class="flex flex-col items-center justify-center w-full h-fit aspect-auto border-b-2">
			<h2 class="px-4 pt-8 sm:px-6 sm:py-12 capitalize">
				Blog Posts
			</h2>
			<div id="posts" class="grid w-full">
				<header class="font-lora block justify-center items-center content-center justify-items-center border-none border-b-2 border-slate-800 dark:border-slate-400">
					<ul class="hidden sm:flex max-w-3xl w-full p-2 list-none gap-2">
						<li>
							<h3 class="text-lg font-inter font-light">
								<a href="/">All</a>
							</h3>
						</li>
						{ categories && categories.map((c, i) => (
							<li>
								<h3 class="text-lg font-inter font-light">
									<a href={`/?category=${c.slug}`}>{c.title}</a>
								</h3>
							</li>
						)) }
					</ul>
				</header>
					{/* <hr> */}
				<main class="block items-center justify-center justify-items-center content-center">
					{allPosts && allPosts.map((p, i) => (
						<article id={` bgpost-${i}-${p.slug}`} class="block content-center justify-items-center mx-2 my-4 px-2 py-4 max-w-3xl w-full items-center justify-center bg-slate-400/80 dark:bg-slate-800 rounded-lg">
							<div class="block p-2 h-inherit">
								<h4 class="font-lora text-xl mb-4 hover:underline focus-visible:underline underline-offset-2">
									<a href={blog_url(p.slug, p.createdAt)}>
										{p.title}
									</a>
								</h4>
								<p class="text-md">{p.snippet}</p>
							</div>
							<div class="flex w-full my-2 py-2 justify-between items-center-safe text-sm font-lora font-semibold">
								<time datetime={p.createdAt.toISOString()} class="px-2">
									{format(p.createdAt)}
								</time>
								<span class="px-2">
									{p.readingTime} min read
								</span>
							</div>
						</article>
					))}
				</main>
				<pre>
					{/* {JSON.stringify(allPosts[0], null, 2)} */}
				</pre>
			</div>
		</section>
	</main>
</MainLayout>