---
import { MainLayout } from "@/layouts";
import { is, titleTemplate } from "@/utils/functions";
import { Image } from "astro:assets";

import { HeroImg } from '@/assets';

import { about } from "@/data/me";
import { TITLE } from "@/data/nav";
import type { Meta } from "@/types/head";
import { format } from "@/utils/date";
import { blog_url } from "@/utils/urls";
import { calcReadingTime } from "@lueur/blog-utils";
import { getCollection } from "astro:content";

export const prerender = true;

const categories = await getCollection('categories')
const posts = (await getCollection('posts'))
	.sort((a, b) => b.data.published_at.valueOf() - a.data.published_at.valueOf())
	.slice(0, 5)
	.map((post) => ({
		slug: post.slug,
		data: post.data,
		body: post.body,
		category: categories.find((c) => c.data.slug == post.slug)?.data
	}));

// Metadata
const title = titleTemplate(TITLE, "Architecture, Code & Creative Works by Lazaro Osee", "-")
const metas: Meta[] = [
		{ name: "title", content: `${TITLE} | Architecture, Code & Creative Works by Lazaro Osee` },
		{ name: "description", content: "The official archive of Lazaro Osee, TUK architecture student and self-taught software developer. Explore projects in design, code, poetry, and modelling." },
		{ name: "canonical", content: "https://www.lazaroosee.xyz/" },
		{ name: "type", content: "website" },
		{ name: "author", content: "Lazaro Osee" },
		{ name: "copyright", content: "Lazaro Osee" },
		{ name: "image", content: "https://github.com/oseelabs.png" },
		{ name: "robots", content: "index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" },
		{ name: "og:title", content: `${TITLE} | Architecture, Code & Creative Works by Lazaro Osee` },
		{ name: "og:description", content: "The official archive of Lazaro Osee, TUK architecture student and self-taught software developer. Explore projects in design, code, poetry, and modelling." },
		{ name: "og:image", content: "https://github.com/oseelabs.png" },
		{ name: "og:url", content: "https://www.lazaroosee.xyz" },
		{ name: "twitter:card", content: "summary_large_image" },
		{ name: "twitter:title", content: `${TITLE} | Architecture, Code & Creative Works by Lazaro Osee` },
		{ name: "twitter:decsription", content: "The official archive of Lazaro Osee, TUK architecture student and self-taught software developer. Explore projects in design, code, poetry, and modelling." },
		{ name: "twitter:image", content: "https://github.com/oseelabs.png" },
	]
---

<MainLayout
	{title}
	{metas}
>
	<main class="w-full h-full">
		<!-- TODO: keep the orignal hero commented for reference -->
		{/* 1. Original hero */}
		{/* <section class="flex flex-row w-full h-auto aspect-auto border-b-2">
			<div class="hidden md:block flex-1 w-full h-[inherit] p-auto bg-red-400 border-r-2">
				<Image src={HeroImg} width={800} height={500} format="webp" quality={100} alt="arhcitecture and code" class="w-full h-full object-cover" />
			</div>
			<div class="flex-1 w-full h-full">
				<h1 class="block leading-tight px-4 py-8 text-balance font-playfair font-bold border-b-2">
					Bridging structure and Syntax
				</h1>
				<p class="leading-tight px-4 py-8 border-b-2">
					Design, Code, and the archive of Creation
				</p>
				<div class="block h-full px-4">
					<div class="flex w-fit py-8 border-l-2 border-r-2">
						<button class="flex h-fit items-center justify-center border-t-2 border-b-2 font-oswald font-semibold uppercase text-white px-4 py-8 bg-slate-800 hover:bg-slate-900 focus-visible:bg-slate-900 dark:bg-slate-700 dark:hover:bg-slate-800 dark:focus-visible:bg-slate-800 cursor-pointer leading-tight">
							explore the latest posts
						</button>
					</div>
				</div>
			</div>
		</section> */}
		{/* 1. "Golden Ratio" Hero */}
		<section class="flex flex-row w-full h-auto aspect-auto border-b-2">
			<div class="hidden md:block flex-1 w-full h-[inherit] p-auto border-r-2">
				<Image src={HeroImg} width={800} height={500} format="webp" quality={100} loading={"eager"} alt="arhcitecture and code" class="w-full h-full object-cover" />
			</div>
			<div class="flex-1 aspect-auto w-full h-inherit grid grid-rows-2 grid-cols-1">
				<h1 class="block row-span-1 leading-tight px-5 py-10 sm:px-8 sm:py-16 text-balance font-playfair font-bold border-b-2">
					Bridging structure and Syntax
				</h1>
				<div class="row-span-1 grid grid-cols-2 grid-rows-1">
					<p class="flex flex-col leading-tight text-2xl text-balance text-center font-semibold font-roboto justify-center p-2 order-2 border-l-2">
						Design, Code, and the archive of Creation
					</p>
					<div class="h-full grid grid-rows-2 grid-cols-1 place-content-center place-items-center justify-center items-center">
						<div class="border-b-2 w-full h-full"></div>
						<div class="grid grid-cols-1 grid-rows-1 w-full h-full place-content-center place-items-center justify-center items-center">
							<button class="flex h-fit items-center justify-center border-2 font-oswald font-semibold uppercase text-white m-2 px-4 py-3 rounded-md bg-slate-800 hover:bg-slate-900 focus-visible:bg-slate-900 dark:bg-slate-700 dark:hover:bg-slate-800 dark:focus-visible:bg-slate-800 cursor-pointer leading-tight">
								explore the latest posts
							</button>
						</div>
					</div>
				</div>
			</div>
		</section>

		{/* 2. Curator's Pick(2.0) (FLEX) */}
		<section class="flex flex-col items-center justify-center w-full h-auto py-8 aspect-auto bg-white dark:bg-slate-900">
			<h2 class="px-4 pt-8 sm:px-6 sm:py-12 capitalize">Featured Posts</h2>
			<div class="relative flex flex-wrap w-full items-center justify-center mt-6">
				{posts && posts.map((f, i) => (
					<article class="relative grid grid-cols-1 place-content-end-safe place-items-end-safe grid-rows-1 list-none max-w-90 min-w-80 min-h-100 max-h-140 w-full h-full m-4 flex-grow basis-full snap-center bg-transparent  shadow shadow-gray-800/50 dark:shadow-gray-500/50 rounded-md">
						<span class:list={[
							"absolute -top-2 -right-2 px-3 py-1 rounded-full uppercase text-sm", 
							{'dark:bg-lime-800 dark:border-lime-400 bg-lime-400 border-lime-800  border-1': is(f.category?.slug ?? f.data.category, 'architecture')},
							{'dark:bg-indigo-800 dark:border-indigo-400  bg-indigo-400 border-indigo-800  border-1': is(f.category?.slug ?? f.data.category, 'code')},
							{'dark:bg-fuchsia-800 dark:border-fuchsia-400  border-fuchsia-800 bg-fuchsia-400  border-1': is(f.category?.slug ?? f.data.category, 'personal')},
							{'dark:bg-rose-800 dark:border-rose-400  border-rose-800 bg-rose-400  border-1': is(f.category?.slug ?? f.data.category, 'writing')},
							{'dark:bg-purple-800 dark:border-purple-400  border-purple-800 bg-purple-400  border-1': is(f.category?.slug ?? f.data.category, 'ai')},
							{'dark:bg-cyan-800 dark:border-cyan-400  border-cyan-800 bg-cyan-400  border-1': is(f.category?.slug ?? f.data.category, 'art')},
						]}>
							{f.category?.title ?? f.data.category}
						</span>
						<div class="col-1 row-span-full w-full h-full aspect-auto rounded-md overflow-hidden">
							<Image src={f.data.cover} alt={f.data.title ?? ""} width={600} height={400} fit="cover" quality={100} class="w-full h-full aspect-auto object-cover" />
						</div>
						<div class="col-1 row-span-full p-2 text-white dark:text-black bg-black/96 dark:bg-white/96 rounded-md overflow-hidden">
							<h3 class="text-lg font-lora font-semibold pb-4 cursor-pointer">
								<a href={blog_url(f.slug, f.data.published_at)} class="hover:underline focus-visible:underline underline-offset-2 decoration-2">{f.data.title}</a>
							</h3>
							{/* <p class="text-md leading-6 font-inter py-2">
								{f.data.snippet}
							</p> */}
							<hr class="my-4 text-current/20">
							<div class="flex w-full py-2 justify-between items-center-safe text-sm font-lora font-semibold">
								<time datetime={f.data.published_at.toISOString()} class="px-2">
									{format(f.data.published_at)}
								</time>
								<span class="px-2">
									{calcReadingTime(f.body)} min read
								</span>
							</div>
						</div>
					</article>
				))}
				<div class="relative grid grid-cols-1 place-content-end-safe place-items-end-safe grid-rows-1 list-none max-w-90 min-w-80 min-h-40 max-h-140 w-full h-fit m-4 flex-grow basis-full snap-center bg-transparent  shadow shadow-gray-800/50 dark:shadow-gray-500/50 rounded-md">
					<a href="/posts" class="place-self-center flex items-center justify-center uppercase border-2 rounded-full px-8 py-4 border-none bg-black dark:bg-white text-white dark:text-black hover:bg-slate-900 focus-visible:bg-slate-900 hover:dark:bg-slate-400 focus-visible:dark:bg-slate-400">view all posts</a>
				</div>
			</div>
		</section>

		{/* 5. Short About Me */}
		<div class="bg-white dark:bg-black py-12">
			<section class="relative block content-center-safe m-2 my-12 sm:px-6">
				<h2 class="relative block lg:max-w-2xl leading-relaxed mb-6 uppercase font-oswald after:absolute after:left-0 after:bottom-0 after:w-full after:h-2 after:bg-red-800 after:dark:bg-red-600">about me</h2>
				
				<div class="relative flex w-fit h-inherit m-4 content-center-safe transform translate-y-12lg:float-end lg:absolute lg:right-0 lg:-top-[50%] lg:translate-y-[50%] ">
					<Image src={about.image} alt="profile" width={400} height={400} quality={100} format="avif" loading="lazy" class="w-40 lg:w-80 h-auto aspect-square rounded-full lg:rounded-sm object-center object-cover border-4 border-current/20" />
				</div>
				<div class="block content-center-safe transform translate-y-6 lg:max-w-2xl w-full">
					<div class="mt-6 **:border-red-800/80 **:dark:border-red-600/80">
						<div class="relative flex my-4">
							<span class="absolute rounded-bl-2xl -top-[40%] left-0 border-l-3 border-b-3 w-8 h-full"></span>
							<p class="ml-10">
								<span class="uppercase font-semibold underline decoration-2 underline-offset-2 decoration-current/40 pb-2 text-slate-700/80 dark:text-slate-300/60"> my name: </span>
								<br />
								<span class="text-slate-800 dark:text-slate-200 uppercase text-xl font-semibold prose prose-xl">{about.name}</span>
							</p>
						</div>
						<div class="relative flex my-4">
							<span class="absolute rounded-bl-2xl -top-[80%] left-0 border-l-3 border-b-3 w-8 h-full"></span>
							<p class="ml-10 text-balance first-letter:capitalize!">
								<span class="uppercase font-semibold underline decoration-2 underline-offset-2 decoration-current/40 pb-2 text-slate-700/80 dark:text-slate-300/60">about me: </span>
								<br />
								<span class="prose prose-xl prose-neutral text-black text-xl dark:text-white dark:prose-invert" set:html={about.desc}></span>
							</p>
						</div>
						<div class="relative flex my-4">
							<span class="absolute rounded-bl-2xl -top-[10rem] left-0 border-l-3 border-b-3 w-8 h-[12rem]"></span>
							<p class="ml-10 mt-4 text-balance first-letter:capitalize!">
								<a href="/about" class="uppercase my-2 py-4 px-6 text-white dark:text-black bg-black dark:bg-white rounded-md">
									learn more about me
								</a>
							</p>
						</div>
					</div>
				</div>
			</section>
		</div>

		{/* 4. Gallery Preview */}
		<section class=""></section>

		{/* 6. contact CTA */}
		<section class="content-center justify-items-center">
			<div class="flex flex-col max-w-4xl w-full p-4 sm:my-8 sm:py-12">
				<h2 class="block leading-tight sm:leading-normal md:leading-relaxed my-4">
					Idea Overflow? Share Your Thoughts.
				</h2>
				<p class="capitalize">
					Send a message to talk about design, development, or creative writing—let's make something happen.
				</p>
				<a href="/contact" class="block max-w-xs w-auto content-center justify-items-center px-8 py-4 mt-8 mb-4 sm:mt-12 border-none rounded-sm text-white bg-black dark:text-black dark:bg-white hover:bg-black/70 dark:hover:bg-white/70">
					<span class="flex w-auto uppercase font-open-sans font-semibold">Let's get talking</span>
				</a>
			</div>
		</section>
	</main>
</MainLayout>
