---
import { footer_links, nav_links, social_links, TITLE } from "@/data/nav";

---

<footer class="block w-full content-center justify-items-center pt-4 pb-8 px-2 bg-slate-200 dark:bg-slate-800">
    <div class="flex flex-col sm:flex-row max-w-4xl w-full justify-between items-start gap-4">
        <h2 class="w-full uppercase font-playfair text-2xl">{TITLE}</h2>
        <div class="flex w-full justify-center items-center">
            <ul class="w-full ps-4">
                {nav_links && nav_links.map((l, i) => (
                    <li>
                        <a href={l.href} class="hover:underline focus-visible:underline underline-offset-2">
                            {l.label}
                        </a>
                    </li>
                ))}
            </ul>
            <ul class="w-full ps-4">
                {social_links && social_links.map((l, i) => (
                    <li class="flex gap-2">
                        <a href={l.href} class="flex gap-3 hover:underline focus-visible:underline underline-offset-2">
                            <span class="contents" set:html={l.icon}></span>
                            <span>{l.label}</span>
                        </a>
                    </li>
                ))}
            </ul>
        </div>
    </div>
    <div class="flex w-full max-w-4xl justify-center items-center gap-3 my-4">
        <ul class="flex list-none gap-3">
            {footer_links && footer_links.map((l, i) => (
                <li>
                    <a href={l.href} class="hover:underline focus-visible:underline underline-offset-2">
                        {l.label}
                    </a>
                </li>
            ))}
        </ul>
    </div>
    <div class="flex w-full max-w-4xl justify-center items-center gap-3">
        <p class="flex flex-wrap justify-center items-center gap-1 w-full">
            <span>&copy;</span>
            <time id="copy-year" datetime={new Date().toISOString()}>{new Date().getUTCFullYear()}</time>
            <span>{TITLE}.</span>
            <span class="flex items-center gap-2">
                <span>Built with</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
                    <path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Z"/>
                </svg>
                <span>by</span>
                <a href="" class="underline italic underline-offset-2">Lazaro Osee</a>
            </span>
        </p>
    </div>
</footer>
