---
import '@/styles/post.css';
import { format } from '@/utils/date';
import { blog_url } from '@/utils/urls';
import { calcReadingTime } from '@lueur/blog-utils';
import type { MarkdownHeading } from 'astro';
import { Image } from 'astro:assets';
import type { CollectionEntry, ReferenceContentEntry } from 'astro:content';
import { getEntry, getEntries } from 'astro:content';

type Props = {
    slug: CollectionEntry<"posts">['slug']
    frontmatter: CollectionEntry<"posts">['data']
    headings: MarkdownHeading[]
    'reading-time': number
    next: {
        slug: string;
        title: string;
        year: Date;
    } | null
    previous: {
        slug: string;
        title: string;
        year: Date;
    } | null
}
const { slug, frontmatter, headings, next, previous, 'reading-time': readtime } = Astro.props;
const category = await getEntry('categories', frontmatter.category)
const related = frontmatter.related ? (await getEntries(frontmatter.related)) : []
const relatedPosts = related.map((r) => ({
    slug: r.slug,
    ...r.data,
    body: r.body
}));
---

<div class="flex flex-row gap-4 pb-4 md:h-screen">
    <aside class="hidden sticky top-0 left-0 md:relative md:block md:inset-auto w-1/3 md:w-1/4 max-w-sm h-full bg-slate-800 m-3 mb-6 px-2 py-4 rounded-xl text-xl">
        <div class="m-2">
            {headings && (
                <h3 class="text-2xl font-light first-letter:uppercase leading-relaxed my-4">in this article</h3>
                <hr />
                <ol type="I" class="flex flex-col list-[lower-roman] my-2">
                    {headings.map((h, i) => (
                        <li class=""  class:list={[
                                "text-xl my-1.5 list-item list-inside", 
                                { 'ml-0': h.depth == 1 } ,
                                { 'ml-2': h.depth == 2 } ,
                                { 'ml-4': h.depth == 3 } ,
                                { 'ml-6': h.depth == 4 } ,
                                { 'ml-8': h.depth == 5 } ,
                                { 'ml-10': h.depth == 6 } ,
                            ]}>
                            <a href={`#${h.slug}`} class:list={[
                                "text-xl font-[300] my-1.5 hover:underline focus:underline underline-offset-1"
                                ]}>
                                <span class="">{h.text}</span>
                            </a>
                        </li>
                    ))}
                </ol>
            )}
        </div>
    </aside>
    <main class="flex-1 block content-center justify-items-center items-center justify-center w-full h-full pt-10 pb-20 overflow-x-hidden overflow-y-scroll! [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar-thumb]:dark:bg-slate-600 [&::-webkit-scrollbar-thumb]:mx-0.1 [&::-webkit-scrollbar-thumb]:rounded-full">
        <header class="mx-1 my-4">
            <div class="block content-center justify-items-center m-1">
                <div class="flex flex-wrap items-center w-full gap-0 font-light text-md text-blue-700 dark:text-blue-300 bg-slate-400/20 dark:bg-slate-800/40 rounded-md p-2 sm:px-4">
                    <a href="/" class="hover:underline focus:underline underline-offset-2 decoration-1">
                        <span class="capitalize font-inter">home</span>
                    </a>
                    <svg xmlns="http://www.w3.org/2000/svg" height="1.6rem" width="1.6rem" viewBox="0 -960 960 960" class="fill-black/70 dark:fill-white/70 transform rotate-180">
                        <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/>
                    </svg>
                    <a href="/posts" class="hover:underline focus:underline underline-offset-2 decoration-1">
                        <span class="capitalize font-inter">posts</span>
                    </a>
                    <svg xmlns="http://www.w3.org/2000/svg" height="1.6rem" width="1.6rem" viewBox="0 -960 960 960" class="fill-black/70 dark:fill-white/70 transform rotate-180">
                        <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/>
                    </svg>
                    <a href={blog_url(slug, frontmatter.published_at)} class="hover:underline focus:underline underline-offset-2 decoration-1">
                        <span class="capitalize font-inter">{frontmatter.title}</span>
                    </a>
                </div>
                <a href={`/posts?category=${category?.data.slug ?? frontmatter.category}`} class="block w-fit text-center m-2 mt-4 p-2 px-6 rounded-md bg-slate-400/60 dark:bg-slate-600/60">
                    {category?.data.title ?? frontmatter.category}
                </a>
                <h1 class="block w-20/21 text-5xl leading-tight text-balance">
                    {frontmatter.title}
                </h1>
                <div class="flex w-20/21 my-6 justify-between items-center">
                    <time class="">
                        {frontmatter.published_at.toLocaleDateString(undefined, {dateStyle: "medium"})}
                    </time>
                    <span class="">{`${readtime} min read`}</span>
                </div>
                <div class="img self-center block w-full m-4 aspect-video rounded-xl bg-slate-500 dark:bg-slate-800 content-center justify-items-center text-center text-7xl border overflow-hidden">
                    <Image src={frontmatter.cover} alt={frontmatter.title} quality={100} format='avif' class="block w-full h-full aspect-auto object-cover object-center" />
                </div>
            </div>
        </header>
        <slot />
        <footer class="block w-full p-1">
            {frontmatter.tags && (
                <div class="flex flex-col gap-4 w-full m-1 my-3 py-4 items-start">
                    <h4 id="tagged-for" class="tag uppercase text-2xl">tags</h4>
                    <ul class="tags flex flex-wrap items-center gap-2 list-none">
                        {frontmatter.tags.map((tag) => (
                            <li class="tag uppercase text-[1rem] px-4 py-2 bg-slate-400/60 dark:bg-slate-700/40 rounded-md m-0.5">{tag}</li>
                        ))}
                    </ul>
                </div>
            )}
            {frontmatter.related && (
                <div class="block mx-1 my-3 px-1 py-4">
                    <h3 class="block uppercase text-3xl leading-relaxed my-6">
                        related posts
                    </h3>
                    <div class="block">
                        {relatedPosts.map(async (post, i) => {
                            return post ? (
                                <article class="bg-current/6 rounded-md mx-1 my-4 pb-4 p-2">
                                    <h4 class="text-2xl!">
                                        <a href={blog_url(post.slug, post.published_at)} class="hover:underline focus:underline decoration-1 underline-offset-2">{post.title}</a>
                                    </h4>
                                    <div class="flex items-center-safe justify-between mx-2 text-md font-lora text-current/60">
                                        <time class="text-md" datetime={post.published_at.toISOString()}>
                                            {format(post.published_at)}
                                        </time>
                                        <span class="">{`${calcReadingTime(post.body)} min read`}</span>
                                    </div>
                                </article>
                            ) : null
                        })}
                    </div>
                </div>
            )}

            <div class="flex flex-col-reverse content-center justify-items-center gap-4 bg-current/1 rounded-md p-1 sm:p-2">
                {previous && (
                    <a aria-label={previous.title} title={previous.title} href={blog_url(previous.slug, previous.year)} class="previous bg-current/1 group m-1 p-2 flex flex-col w-full text-slate-900 dark:text-slate-100 items-start-safe justify-center float-left rounded-md">
                        <span class="uppercase italic text-current/40">previous</span>
                        <span class="group-hover:underline group-focus:underline underline-offset-2 decoration-1 w-fit">{previous.title}</span>
                    </a>
                )}
                {next && (
                    <a aria-label={next.title} title={next.title} href={blog_url(next.slug, next.year)} class="flex flex-col w-full next bg-current/1 order-1 group m-1 p-2  text-slate-900 dark:text-slate-100 items-end-safe justify-center float-end rounded-md">
                        <span class="uppercase italic text-current/40">next</span>
                        <span class="group-hover:underline group-focus:underline underline-offset-2 decoration-1">{next.title}</>
                    </a>
                )}
            </div>
        </footer>
    </main>
</div>

<script>
    (function() {
        // window.scrollTo({
        //     top: document.body.scrollHeight,
        //     behavior: 'smooth'
        // });
    })()
</script>